@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$expressive-font: "Source Code Pro", monospace;;
$basic-font: "Montserrat", sans-serif;

@mixin expressive-font {
    font-family: $expressive-font;
}
@mixin basic-font {
    font-family: $basic-font;
}