@use 'abstract' as *;

html {
	font-size: $font-size;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: never;

	body {
		@include basic-font;

		a {
			padding: 0;
			color: $col-link;
			text-decoration: underline;
			text-decoration-color: $col-link-line;
			transition: $t;

			&:hover,
			&:focus {
				color: $col-link-hover;
				text-decoration: underline;
				text-decoration-color: $col-link-line-hover;
			}
		}

		// TITLES

		.h4.homepage-products-heading-1 {
			width: max-content;
			padding: 0;
			position: relative;
			@include expressive-font;
			text-align: left;
			//font-weight: 900;
			font-size: 2.5rem;

			&::after {
				content: '';
				display: block;
				width: 50px;
				height: 4px;
				position: absolute;
				left: 0;
				background-color: $col-primary-dark;
				margin-top: 10px;
				border-radius: 2px;
			}
		}
	}
}