@use 'abstract' as *;

html {
	font-size: $font-size;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: never;

	body {
		@include basic-font;
	}
}