@use 'abstract' as *;

button,
a {
    &.btn {
        display: inline-block;
        margin: auto;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 3rem;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        @include expressive-font;
    }
}