@use 'abstract' as *;

header {
    &#header {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1000;

        .header-top {
            height: 100px;
            .header-top-wrapper {
                justify-content: space-between;
                align-content: center;
                height: 100%;

                .site-name {
                    width: max-content;
                    height: auto;
                    position: absolute;
                    left: 0;

                    a {
                        padding: 5px 0;
                        img {
                            width: auto;
                            height: 90px;
                        }
                    }
                }

                .navigation-buttons {
                    max-width: max-content;
                    gap: 1rem;

                    .toggle-window {
                        width: 25px;
                        height: 25px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        
                        &[data-target="search"] {
                            background-image: url('data:image/svg+xml,<svg width="800" height="800" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M21.71 20.29 18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.39M11 18a7 7 0 1 1 7-7 7 7 0 0 1-7 7" style="fill: %2353844b"/></svg>');
                        }
                        &[data-target="login"] {
                            background-image: url('data:image/svg+xml,<svg width="800" height="800" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M15.71 12.71a6 6 0 1 0-7.42 0 10 10 0 0 0-6.22 8.18 1 1 0 0 0 2 .22 8 8 0 0 1 15.9 0 1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1 10 10 0 0 0-6.25-8.19M12 12a4 4 0 1 1 4-4 4 4 0 0 1-4 4" style="fill: %2353844b" /></svg>');
                        }
                        &[data-target="cart"] {
                            background-image: url('data:image/svg+xml,<svg width="800" height="800" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none"><circle cx="7.5" cy="18.5" r="1.5" fill="%2353844b"/><circle cx="16.5" cy="18.5" r="1.5" fill="%2353844b"/><path stroke="%2353844b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5h2l.6 3m0 0L7 15h10l2-7z"/></svg>');
                        }

                        .icon-search,
                        .icon-login,
                        .icon-cart {
                            display: none;
                        }
                    }
                }
            }
        }

        .header-bottom {
            position: absolute;
            top: 26px;
            width: 60vw;
            left: 50%;
            transform: translateX(-50%);

            .navigation-in {
                background-color: transparent;
            }
        }

        nav {
            .navigation-in {
                a {
                    b {
                        position: relative;
                        transition: all 0.3s ease-in-out;

                        &::after {
                            content: '';
                            display: inline-block;
                            width: 100%;
                            height: 1px;
                            position: absolute;
                            bottom: -6px;
                            left: 50%;
                            background-color: $col-primary-hover;
                            transform: translateX(-50%) scaleX(0);
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    .submenu-arrow {
                        display: inline-block;
                        position: relative;
                        top: -2px;
                    }

                    &:hover {
                        background-color: transparent;
                        b {
                            color: $col-tertiary-dark;

                            &::after {
                                transform: translateX(-50%) scaleX(1);
                            }
                        }
                    }
                }

                .menu-level-2 {
                    justify-content: flex-start;
                    li {
                        width: 25%;
                        align-items: center;

                        a.menu-image {
                            width: 50px;
                            height: 50px;
                            margin: 0;

                            img {
                                width: 100%;
                                height: 100%;
                                max-height: 50px;
                                max-width: 50px;
                                object-fit: contain;
                            }
                        }

                        > div {
                            padding-left: 1rem;
                            a {
                                margin: 0;
                                padding: 0;
                                color: $col-primary;
                                font-size: 1rem;
                                text-align: left;
                                transition: $t;
                            }
                        }

                        &:hover {
                            >div {
                                a {
                                    color: $col-primary-hover;
                                }
                            }
                        }
                    }
                }

                .menu-level-3 {
                    display: none;
                }
            }
        }
    }
}