@use 'abstract' as *;

.product-slider-holder {
    .navigation-next,
    .navigation-prev {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 2px solid $col-primary;
        border-radius: 50%;
        &::before {
            font-size: 20px;
            color: $col-primary;
        }
    }
}