@use 'abstract' as *;

.product {
    .image {
        width: 100%;
        height: 100%;
        min-height: 285px;

        img {
            object-fit: cover;
        }
    }

    .flags {
        width: calc(100% - 2rem);
        top: 1rem;
        left: 1rem;
        .flag {
            min-width: unset;
            border-radius: 1rem;

            &.flag-action {
                background-color: $col-secondary;
            }

            &.flag-tip {
                background-color: $col-tertiary;
            }

            &.flag-new {
                background-color: $col-primary;
            }
        }
    }

    .p-in {
        .p-in-in {
            a {
                text-decoration: none;
                color: $col-primary;

                &:hover,
                &:focus {
                    text-decoration: none;
                    color: $col-primary-hover;
                }
            }
        }
        .p-bottom {
            .prices {
                flex-direction: row;
                flex-wrap: nowrap !important;
                gap: 1rem;

                .price-final {
                    order: 1;
                    flex-basis: auto !important;
                }

                .price-save {
                    order: 2;
                    font-size: 1rem !important;
                    font-weight: 700;
                }

                .price-standard {
                    order: 3;
                    font-size: 0.875rem;
                    text-decoration: line-through;
                }
            }

            .ratings-wrapper {
                padding: 0;
            }
            .availability {
                margin-top: 0.5rem;
                font-size: 0.875rem;

                span {
                    &[style="color:#3c840f"] {
                        color: $col-primary !important;
                    }
                    &[style="color:#d00000"] {
                        color: $col-secondary !important;
                    }
                }
            }
        }
    }
}