@use "abstract" as *;

.type-product {
  .p-data-wrapper {
    .p-detail-inner-header {
      h1 {
        width: 100%;
      }
      .stars-wrapper {
        margin-top: 2rem;

        .stars {
          .star-off {
            &::before {
              color: $col-bg-darker;
            }
          }

          .star-on {
            &::before {
              color: $col-primary;
            }
          }
        }
      }
    }
  }
}
