@use "./../abstract" as *;

.type-category {
  main {
    padding: 0 0 0 3rem;
  }

  .footer-newsletter-full-width {
    display: none;
  }
}

.in-obchod {
  .category-top {
    border: none;
    .subcategories {
      li {
        padding: 1.5rem;
        @include respond-to("xxl") {
          width: 20%;
        }
        a {
          flex-direction: column;
          height: auto;
          padding: 0;
          border: none;
          text-decoration: none;
          background: transparent $bg-props;
          background-image: url("/user/documents/upload/graphics/basic_background_pink-lighten-2.png");

          &::before {
            display: none;
          }

          .image {
            width: 100%;
            height: 100px;
            transform: translateY(0);
            transition: $t;

            img {
              max-height: unset;
              height: 100%;
            }
          }

          .text {
            width: 100%;
            padding-left: 0;
            text-align: center;
            text-decoration: none;
            color: $col-primary;
            font-size: 1.05rem;
          }

          &:hover {
            background-color: transparent;
            .image {
              transform: translateY(-0.5rem);
            }
          }
        }
      }
    }
  }

  .products-top-wrapper {
    display: none;
  }
}
