@use './../abstract' as *;

.type-category {
    aside {
        border: none;
        border-radius: 1rem 1rem 0 0;

        .sidebar-inner {
            border: none;

            h4 {
                font-size: 2rem;
            }

            .categories {
                a {
                    text-align: left;
                    color: $col-primary;
                    transition: $t;

                    &:hover,
                    &:focus {
                        color: $col-primary-dark;
                    }
                }

                ul {
                    ul li, 
                    li {
                        a {
                            padding-left: 30px;
                        }
                    }
                }
            }
        }
    }

    main {
        padding: 0 0 0 3rem;
    }

    .footer-newsletter-full-width {
        display: none;
    }
}

.in-obchod {
    .category-top {
        .subcategories {
            li {
                a {
                    flex-direction: column;
                    height: auto;
                    border: none;
                    text-decoration: none;

                    &::before {
                        display: none;
                    }
        
                    .image {
                        width: 100%;
                        height: 100px;

                        img {
                            max-height: unset;
                            height: 100%;
                        }        
                    }

                    .text {
                        width: 100%;
                        padding-left: 0;
                        text-align: center;
                        text-decoration: none;
                        color: $col-primary;
                        font-size: 1.05rem;
                    }
                }
            }
        }
    }
}