$col-primary: #1f8e34;
$col-primary-dark: #203A25;
$col-primary-light: #B8FFC5;
$col-primary-lighter: #E2FFE7;

$col-text: #353535;

$col-background: #fffaf4;
$col-background-darker: $col-primary-lighter;
$col-background-darkest: $col-primary-light;