$col-primary: #8caf5d;
$col-primary-dark: #53844b;
$col-primary-hover: #385a33;

$col-secondary: #e67e66;

$col-tertiary: #b6a964;
$col-tertiary-dark: #8c7b45;

$col-text: #0f172a;

$col-bg: #f8faf5;
$col-bg-darker: #ecf2e5;
$col-bg-darker-opacity: #ecf2e5cc;

$col-background: #fffaf4;
